.custom-card{  
  position: relative;
  width: 100%;
  height: 100%;
}

.card-dims{
  height: 250px;
  min-height: 250px;
  width: 100%;
  cursor: pointer;
}

.border-radius-card{
  border-radius: 10px;
}

.unhovered{
    color: white;
    font-weight: 400;
}

.bottom-center {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background: none;
    
  }

.hovered{
    background-color: white;
    color: black;
    height: 100%;
}
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 24px;
    left:25%;
    font-size: 26px;
    font-weight: 500;
  }

  .top-center {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 16px;
  }