<!-- <div class="col-md-4 col-sm-12 border-radius-card card-dims  mat-elevation-z8"> -->

    <div class="col-md-3 col-sm-12 border-radius-card card-dims  mat-elevation-z5 grey-background" (mouseenter)="hovered = true" (mouseleave)="hovered = false">

    <div class="unhovered custom-card border-radius-card" *ngIf='!hovered' @myInsertRemoveTrigger>
        <img src="assets/{{bgImage}}" style="width:100%;height: 100%;">
        <div class="top-left">{{title}}</div>
    </div>


    <div class="hovered container p-1 border-radius-card"  *ngIf='hovered' @myInsertRemoveTrigger>
        <div class="row justify-center pt-1">
            <h2> {{title}} </h2>
        </div>
        <div class="row justify-center">
            <div class="col-md-12 col-sm-12"> <span style="text-align: center;"> {{text}} </span> </div>
        </div>
        <div class="row justify-center mt-2">
            <div class="col-md-12"> <button mat-flat-button style="width: 100%;" color="primary">View Dataset</button>
            </div>
        </div>
    </div>
</div>