<div class="container-fluid">



  <mat-toolbar class="white-bg">
    <div style="max-height: 18px;width: 60px;">
      <img src="assets/logo.png" alt="Snow" style="width:100%;margin-top: -15px;">
    </div>
    <span class="medium-blue-font"> Mercer Storefront </span>
    <span class="example-spacer"></span>

    <button mat-button [routerLink]="'details'">Datasets</button>
    <button mat-button>Company</button>
    <button mat-button>Solutions</button>
    <button mat-icon-button (click)="searchShown = !searchShown"
      aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>search</mat-icon>
    </button>
    <!-- <button mat-button >Search</button> -->
    &nbsp;
    <button mat-stroked-button color="primary">Login</button>

  </mat-toolbar>




  <section *ngIf='searchShown' class="pt-1 row" @myInsertRemoveTrigger>
    <mat-form-field appearance="outline" class="col-md-12 col-sm-12 pr-3 pl-3">
      <mat-label>Search keywords and patterns..</mat-label>
      <input matInput placeholder="">
      <mat-icon style="cursor: pointer;" matSuffix (click)="searchShown = !searchShown">clear</mat-icon>
    </mat-form-field>

  </section>

  <section class="p-3 banner-container">
    <div class="p-2">
      <p style="font-size: 48px;color: white;">DATA MARKETPLACE</p>

      <div class="row gap-3 pt-2">
        <div class="col-md-6 col-sm-12">
          <p style="font-size: 20px;color: white;">
            Access high quality data to provide deeper insights to your organization, and
            get your own data from SaaS vendors to work with, directly into your account
          </p>
          <p style="font-size: 20px;color: white;">
            Using Secure Data technology, you can avoid the risk and hassle of
            having to copy and move stale data. Instead, you can securely
            access live, governed, shared data sets and receive automatic updates to that data in real time.
          </p>
        </div>

        <div class="col-md-2 col-sm-12"> &nbsp;</div>

        <div class="col-md-4 col-sm-12">
          <div style="width: 100%;background-color: white;">
            <input class="custom-input" placeholder="Search Solutions or Datasets.." type="text" name="" id="">

            <mat-icon aria-hidden="false" style="vertical-align: middle;" aria-label="Example home icon">search
            </mat-icon>

          </div>
          <br>
          <br>
          <h2 class="banner-flowting-text"><span class="banner-flowting-text-inner">OR</span></h2>
          <br>
          <button class="custom-button"> Contact Us </button>
        </div>
      </div>

    </div>
  </section>

  <section class="p-3">

    <div class="row gap-2">
      <div class="col-md-4">
        <div style="text-align: center;">
          <mat-icon class="large-blue-font">verified_user</mat-icon>
          <h2>Discover the Data that Drives Insight </h2>
        </div>

        <div>
          <p style="text-align: center;">Explore a wide range of open and commercial data sets across
            16 categories including public health, weather, location, demographics,
            SaaS providers and more.</p>
        </div>
      </div>

      <div class="col-md-4 ">
        <div style="text-align: center;">
          <mat-icon class="large-blue-font">swap_calls</mat-icon>
          <h2>Reduce Data Integration Costs</h2>
        </div>

        <div>
          <p style="text-align: center;">
            Virtually eliminate the costs and effort associated with the traditional ETL processes
            of data ingestion and transformation thanks
            to direct, secure, and governed access from
            your Snowflake account to ready-to-query data sets.
          </p>
        </div>
      </div>

      <div class="col-md-4 ">
        <div style="text-align: center;">
          <mat-icon class="large-blue-font">domain_disabled</mat-icon>
          <h2>Access Fresh Data Faster </h2>
        </div>

        <div>
          <p style="text-align: center;">
            Using Snowflake Secure Data Sharing technology, you can avoid the risk and hassle of having
            to copy and move stale data. Instead, you can securely
            access live, governed, shared data sets and receive automatic
            updates to that data in real time.
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="p-3 grey-background">

    <div>
      <h2 class="medium-blue-font"> Trending Datasets </h2>
    </div>
    <div class="row gap-1">

      <!-- <div class="col-md-3 col-sm-12" *ngFor="let card of trendingDataSets">
        <custom-card [text]="cardText" [title]="card.title" [id]="100" [bgImage]="card.image">
        </custom-card>
      </div> -->

      <div class="col-md-1" style="padding-top: 120px;">
        <button mat-icon-button (click) = "updateCards(3)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <div class="col-md-10">
        <div class="row gap-1">
          <div class="col-md-4 col-sm-12" *ngFor="let card of trendingDataSets">
            <custom-card [text]="cardText" [title]="card.title" [id]="100" [bgImage]="card.image">
            </custom-card>
          </div>
        </div>
      </div>

      <div class="col-md-1" style="padding-top: 120px;">
        <button mat-icon-button (click) = "updateCards(3)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
      

      
    </div>

    <div class="row pt-2">
      <div class="col-md-12 col-sm-12">
        <div style="display: flex; flex-direction: row;justify-content: center;">
          <div class="rectangle" (click) = "updateCards(0)" ></div>
          <div class="rectangle"  (click) = "updateCards(3)"></div>
          <div class="rectangle"  (click) = "updateCards(6)"></div>
        </div>
      </div>
    </div>
  </section>

  
    
 

  <section class="p-3 grey-background">

    <div>
      <h2 class="medium-blue-font"> Recommended Datasets </h2>
    </div>
    <div class="row gap-1">
      <!-- <div class="col-md-1" style="padding-top: 120px;">
        <button mat-icon-button (click) = "updateCards2(3)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
      <div class="col-md-3 col-sm-12" *ngFor="let card of recommendedDataSets">
        <custom-card [text]="cardText" [title]="card.title" [id]="100" [bgImage]="card.image">
        </custom-card>
      </div>
      <div class="col-md-1" style="padding-top: 120px;">
        <button mat-icon-button (click) = "updateCards2(3)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div> -->

      <div class="col-md-1" style="padding-top: 120px;">
        <button mat-icon-button (click) = "updateCards2(3)">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>

      <div class="col-md-10">
        <div class="row gap-1">
          <div class="col-md-4 col-sm-12" *ngFor="let card of recommendedDataSets">
            <custom-card [text]="cardText" [title]="card.title" [id]="100" [bgImage]="card.image">
            </custom-card>
          </div>
        </div>
      </div>

      <div class="col-md-1" style="padding-top: 120px;">
        <button mat-icon-button (click) = "updateCards2(3)">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-md-12 col-sm-12">
        <div style="display: flex; flex-direction: row;justify-content: center;">
          <div class="rectangle" (click) = "updateCards2(0)"></div>
          <div class="rectangle" (click) = "updateCards2(3)"></div>
          <div class="rectangle" (click) = "updateCards2(6)"></div>
        </div>
      </div>
    </div>

  </section>




  <footer class="footer">

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div style="max-height: 18px;width: 60px;">
          <img src="assets/logo.png" alt="Snow" style="width:100%;">
        </div>
        <span class="footer-text" style="padding-left: 50px;">&nbsp; &nbsp;MARSH MCLENNAN COMPANIES</span>
      </div>

      <div class="col-md-6 col-sm-6"></div>
      <div class="col-md-2">
        <div style="max-height: 22px;width: 150px;">
          <img src="assets/social-media.png" alt="Snow" style="width:100%;">
        </div>
      </div>
    </div>
    <br>

    <hr>
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <span class="p-1 footer-text">Marsh</span>

        <span class="p-1 footer-text">Guy Carpenter </span>
  
        <span class="p-1 footer-text">Mercer </span>
  
        <span class="p-1 footer-text">Oliver Wyman </span>
      </div>

      <div class="col-md-2 col-sm-12"></div>

      <div class="col-md-3 col-sm-12">
        <span class="p-1 footer-text-small">Terms of Use</span>

        <span class="p-1 footer-text-small">Privacy </span>
  
        <span class="p-1 footer-text-small">Site Map </span>
  
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-4 pt-2">
        <span class="p-1 footer-text-small">© 2022 MERCER LLC, ALL RIGHTS RESERVED</span>
      </div>
      
    </div>


  </footer>


</div>