.example-spacer {
    flex: 1 1 auto;
} 
 
.white-bg {
    background-color: white;
}
.footer{
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    color: black;
    padding-bottom: 100px;
    padding-top: 20px;
}
.footer-row {
    display: flex;
    flex-direction: row;
}

.footer-text-big{
    font-size: 22px;
    color: #007BB7;
}

.footer-text{
    font-size: 18px;
    color: #007BB7;
}

.footer-text-small{
    font-size: 14px;
    color: #007BB7;
}

.example-card {
    margin: 25px;
    max-width: 300px;
}

.large-blue-font{
    color: #003865;
    font-size: 2.5rem;
}

.medium-blue-font{
    color: #007BB7;
    font-size: 1.5rem;
}

.grey-background{
    background-color : #F7F7F7
}

.banner-container{
    // background-color: #11567f;
    background: linear-gradient(#11567f, #3BB8F0);
}

.custom-input{
    padding: 20px;
    font-size: 1rem;
    width: 75%;
    outline: none;
    border: none;
}

.custom-input:focus, .custom-input:focus{
    outline: none;
}

.custom-button{
    width: 100%;
    padding: 17px;
    background-color: white;
    color: #11567f;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
}

.banner-flowting-text{
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid white; 
    line-height:0.1em; 
    margin:10px 0 20px;
}

.banner-flowting-text-inner{
    background:rgb(39, 137, 186); 
    padding:0 10px;
    color: white;
    
}

.rectangle{
    width:10px;
    height:10px;
    background:grey;
    border-radius: 3px;
    cursor: pointer;
    margin:5px;
}