
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$custom-primary-palette: (
 50: #E2F6FF,
 100: #BEEAFF,
 200: #9ADFFF,
 300: #76D3FF,
 400: #3BB8F0,
 500: #009DE0,
 600 : #007BB7 ,
 700 : #005A8E,
 800 : #003865,
 900 : #001F37,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   // ... continues to 900
 )
);

$angular-starter-primary: mat.define-palette(mat.$indigo-palette);
$angular-starter-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-starter-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-starter-theme: mat.define-light-theme((
  color: (
    primary: $angular-starter-primary,
    accent: $angular-starter-accent,
    warn: $angular-starter-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-starter-theme);