<div class="container-fluid grey-background">
  <mat-toolbar class="white-bg">
    <div style="max-height: 18px;width: 60px;">
      <img src="assets/logo.png" alt="Snow" style="width:100%;margin-top: -15px;">
    </div>
    <span class="medium-blue-font"> Mercer Storefront </span>
    <span class="example-spacer"></span>

    <button mat-button>Datasets</button>
    <button mat-button>Company</button>
    <button mat-button>Solutions</button>
    <button mat-icon-button (click)="searchShown = !searchShown"
      aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>search</mat-icon>
    </button>
    <!-- <button mat-button >Search</button> -->
    &nbsp;
    <button mat-stroked-button color="primary">Login</button>

  </mat-toolbar>
  
  <h1 class="mid-color-blue" style="padding: 10px; margin-left: 20px;">Datasets</h1>
  <div class="grey-background">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4 grey-background">
            <input matInput class="custom-button" 
            type="text" value="" placeholder = "Search keywords and patterns">
            <br> <br>
        </div>
    </div>
    
      <div class="col-md-3 grey-background">
          <ul>
              <li class="blue-font">
                  Categories
              </li>
              <li>
                  <mat-checkbox color="primary">Commerce</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Demographics</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Economy</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Energy</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Environment</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Financial</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Geospatial</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Government</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Health and Life Sciences</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Human Resources</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Identity</mat-checkbox>
              </li>
              <li>
                  <mat-checkbox color="primary">Marketing</mat-checkbox>
              </li>
          </ul>
      </div>
      <div class="grey-background">
          <div class="row grey-background gap-2 card-style">
              <div class="col-md-3 col-sm-12 grey-background">
                <custom-card-small [text]="cardText" [title]="'Machine Learning'" [id]="100" [bgImage]="'card5.jpg'">
                </custom-card-small>
              </div>
              <div class="col-md-3 col-sm-12">
                <custom-card-small [text]="cardText" [title]="'Job Postings'" [id]="100" [bgImage]="'card1.jpg'">
                </custom-card-small>
              </div>
        
              <div class="col-md-3 col-sm-12">
                <custom-card-small [text]="cardText" [title]="'Industrial Data'" [id]="100" [bgImage]="'card3.jpg'">
                </custom-card-small>
              </div>
          </div>
        </div>
        <div class="grey-background">
            <div class="row grey-background gap-2 card-style">
                <div class="col-md-3 col-sm-12 grey-background">
                  <custom-card-small [text]="cardText" [title]="'Data Lake'" [id]="100" [bgImage]="'card6.jpg'">
                  </custom-card-small>
                </div>
                <div class="col-md-3 col-sm-12">
                  <custom-card-small [text]="cardText" [title]="'CDS Pricing'" [id]="100" [bgImage]="'card2.jpg'">
                  </custom-card-small>
                </div>
          
                <div class="col-md-3 col-sm-12">
                  <custom-card-small [text]="cardText" [title]="'Short Interest'" [id]="100" [bgImage]="'card4.jpg'">
                  </custom-card-small>
                </div>
            </div>
        </div>
        <h3 style="margin-left: 48em; margin-top: 10px;"><span style="border-bottom: 5px solid orange;">1</span>  2  3  ...  63 <span class="p-1" style="font-weight: 500;">        NEXT ></span></h3>
  </div>

  <footer class="footer">

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div style="max-height: 18px;width: 60px;">
            <img src="assets/logo.png" alt="Snow" style="width:100%;">
          </div>
          <span class="footer-text" style="padding-left: 50px;">&nbsp; &nbsp;MARSH MCLENNAN COMPANIES</span>
        </div>
  
        <div class="col-md-6 col-sm-6"></div>
        <div class="col-md-2">
          <div style="max-height: 22px;width: 150px;">
            <img src="assets/social-media.png" alt="Snow" style="width:100%;">
          </div>
        </div>
      </div>
      <br>
  
      <hr>
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <span class="p-1 footer-text">Marsh</span>
  
          <span class="p-1 footer-text">Guy Carpenter </span>
    
          <span class="p-1 footer-text">Mercer </span>
    
          <span class="p-1 footer-text">Oliver Wyman </span>
        </div>
  
        <div class="col-md-2 col-sm-12"></div>
  
        <div class="col-md-3 col-sm-12">
          <span class="p-1 footer-text-small">Terms of Use</span>
  
          <span class="p-1 footer-text-small">Privacy </span>
    
          <span class="p-1 footer-text-small">Site Map </span>
    
        </div>
        
      </div>
  
      <div class="row">
        <div class="col-md-4 pt-2">
          <span class="p-1 footer-text-small">© 2022 MERCER LLC, ALL RIGHTS RESERVED</span>
        </div>
        
      </div>
  
  
    </footer>
</div>